# Enrico Bentley and Matteo Simeoni project solution

You have to work on the [**ZTBus: A Large Dataset of Time-Resolved City Bus Driving Missions**](https://www.research-collection.ethz.ch/handle/20.500.11850/626723) repository.

It contains:

- **metaData.csv**, shortly *trips*
- several other files containing detailed data on some bus parameters, whose name is in the *trips* file. Those files can be downloaded as a **zip file**. Let us call those datasets the details datasets.

Notes:
1. It is mandatory to use GitHub for developing the project.
2. The project must be a jupyter notebook.
3. There is no restriction on the libraries that can be used, nor on the Python version.
4. All questions on the project must be asked in a public channel on Zulip.
5. At most 3 students can be in each group. You must create the groups by yourself. You can use the Zulip channel to create the groups.
6. You do not have to send me the project before the discussion.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
 trips = pd.read_csv("metaData.csv",  na_values='-')

**1. Extract all trips with busRoute 83**

In [3]:
route83 = trips[trips['busRoute'] == '83']

In [4]:
route83

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.1500
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.1500
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.1500
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.1500
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30T04:47:53Z,1669783673,2022-11-30T19:50:22Z,1669837822,223165.00,83,1.560888e+09,27.89066,2,100,0.456196,280.6948,279.15,293.1500
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01T05:19:41Z,1669871981,2022-12-01T18:20:57Z,1669918857,190196.00,83,1.418847e+09,26.03927,0,96,0.450413,279.7655,279.15,292.1500
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02T04:47:48Z,1669956468,2022-12-02T19:40:01Z,1670010001,224473.40,83,1.611150e+09,24.80384,2,91,0.438693,279.7888,279.15,291.1500
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.78539,0,115,0.434858,279.5283,278.15,292.6655
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.87940,0,102,0.439916,279.1724,277.15,292.1500

**2. Extract all trips where busRoute is not a number**

In [5]:
trips['busRoute'].unique()

array([nan, '31', '33', '72', '46', '32', '83', 'N4', 'N2', 'N1'],
      dtype=object)

In [6]:
route_notnum = trips[trips['busRoute'].isin(['N4', 'N2', 'N1'])]
route_notnum

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
533,B183_2021-12-18_23-37-00_2021-12-19_03-38-35,183,2021-12-18T23:37:00Z,1639870620,2021-12-19T03:38:35Z,1639885115,76216.06,N4,481350300.0,9.198582,0,37,0.491653,276.8632,275.15,288.15
553,B183_2022-01-07_23-40-43_2022-01-08_03-31-21,183,2022-01-07T23:40:43Z,1641598843,2022-01-08T03:31:21Z,1641612681,68557.06,N2,453625100.0,4.626984,0,13,0.427488,276.9673,275.15,287.15
554,B183_2022-01-08_23-40-17_2022-01-09_03-35-32,183,2022-01-08T23:40:17Z,1641685217,2022-01-09T03:35:32Z,1641699332,67962.92,N2,475383300.0,7.495495,0,26,0.515514,278.5645,277.15,288.15
561,B183_2022-01-15_23-41-46_2022-01-16_03-40-23,183,2022-01-15T23:41:46Z,1642290106,2022-01-16T03:40:23Z,1642304423,77156.70,N1,525168300.0,6.512500,0,32,0.473809,274.9937,273.15,286.15
568,B183_2022-01-21_23-35-40_2022-01-22_03-26-24,183,2022-01-21T23:35:40Z,1642808140,2022-01-22T03:26:24Z,1642821984,71917.75,N2,455476000.0,5.357143,0,23,0.493608,275.3073,274.15,281.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,434776600.0,16.333330,0,45,0.431852,289.2550,288.15,296.15
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,399773700.0,17.710530,0,57,0.443358,287.3486,285.15,295.15
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,447553400.0,11.216670,1,32,0.465024,281.3884,280.15,293.15
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,451916500.0,20.105260,0,74,0.495739,279.4540,277.15,291.15
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,535095600.0,15.993200,0,52,0.459492,276.0036,273.15,291.15

**3. For each (busNumber, busRoute) pair, determine the number of trips**

In [7]:
trips_num =trips.groupby(['busNumber', 'busRoute']).size()
trips_num

busNumber  busRoute
183        31           12
           32           12
           33          130
           46          104
           72          114
           83          441
           N1           10
           N2           19
           N4           11
208        31            5
           32           14
           33           25
           46           19
           72           44
           83          405
           N1            6
           N2           20
           N4            7
dtype: int64

**4. For each trip, compute the ratio between the energy consumption and the average number of passengers**

In [8]:
trips['mean_Energy_per_Passenger'] = trips['energyConsumption'] / trips['itcs_numberOfPassengers_mean'] 
trips[['name','energyConsumption', 'itcs_numberOfPassengers_mean', 'mean_Energy_per_Passenger']].head()

,name,energyConsumption,itcs_numberOfPassengers_mean,mean_Energy_per_Passenger
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,4.785852e+08,5.538860,8.640500e+07
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,4.022585e+08,33.114580,1.214747e+07
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,1.445733e+09,19.689140,7.342794e+07
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,2.819867e+08,1.685185,1.673328e+08
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,6.207258e+08,23.753570,2.613190e+07

**5. For each station (itcs_stopName), determine the average number of passengers.**

#### Caricamento di details

In [9]:
from time import time
import os

usefull_col = [ 'itcs_stopName', 'time_iso', 'time_unix', 'itcs_numberOfPassengers', 'gnss_latitude', 'gnss_longitude', 'gnss_altitude', 'temperature_ambient', 'status_haltBrakeIsActive', 'status_parkBrakeIsActive' ]
start_time = time()
dataframes = []

for name in trips['name']:
    path = f'ZTBus_compressed/{name}.csv'

    if os.path.exists(path):
        file = pd.read_csv(path, na_values='-', usecols = usefull_col, dtype={'itcs_busRoute': str, 'itcs_stopName': str}).dropna(how='all')
        file['name'] = name
        dataframes.append(file)


if dataframes:
    details = pd.concat(dataframes)
else:
    print("La lista dataframes è vuota. Verifica il caricamento dei dati.")


end_time = time()
tot_time = end_time - start_time
print(f"{round(tot_time)//60} min {round(tot_time)%60} sec")

1 min 13 sec

In [20]:
details.shape

(48674462, 11)

### In più punti dove serve details è richiesto il busNumber, quindi lo aggiungiamo estrapolandolo dalla colonna name

In [24]:
details['busNumber'] = details['name'].apply(lambda x: x[1:4]) 
details['busNumber'].unique()  #Controllo se i Bus sono corretti

array(['183', '208'], dtype=object)

In [25]:
details_cleaned = details.dropna(subset=['itcs_stopName'])
details_cleaned.shape

(444738, 12)

In [21]:
details_cleaned.groupby('itcs_stopName')['itcs_numberOfPassengers'].mean().round(2)

itcs_stopName
Zürich, Albisrank                 16.20
Zürich, Albisriederplatz          25.45
Zürich, Altes Krematorium         21.98
Zürich, Bahnhof Affoltern          2.85
Zürich, Bahnhof Altstetten         7.82
                                  ...
Zürich, Zentrum Witikon           17.26
Zürich, Zweiackerstrasse           7.50
Zürich, Zwielplatz                 2.05
Zürich, Zwinglihaus               23.20
Zürich,Kalkbreite/Bhf.Wiedikon    23.16
Name: itcs_numberOfPassengers, Length: 149, dtype: float64

**6. For each station, determine the buses that have stopped there at least once.**

In [26]:
stop_bus = details_cleaned.groupby(['itcs_stopName', 'busNumber']).size()
stop_bus

itcs_stopName                   busNumber
Zürich, Albisrank               183           6324
                                208           6199
Zürich, Albisriederplatz        183          11218
                                208           7633
Zürich, Altes Krematorium       183          10022
                                             ...
Zürich, Zwielplatz              208              4
Zürich, Zwinglihaus             183           2791
                                208           1231
Zürich,Kalkbreite/Bhf.Wiedikon  183            279
                                208            256
Length: 297, dtype: int64

**7. For each station, determine the buses that have stopped there at least ten times.**

In [27]:
stop_bus[stop_bus >= 10]

itcs_stopName                   busNumber
Zürich, Albisrank               183           6324
                                208           6199
Zürich, Albisriederplatz        183          11218
                                208           7633
Zürich, Altes Krematorium       183          10022
                                             ...
Zürich, Zwielplatz              183             77
Zürich, Zwinglihaus             183           2791
                                208           1231
Zürich,Kalkbreite/Bhf.Wiedikon  183            279
                                208            256
Length: 295, dtype: int64

**9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.**

In [36]:
overall = trips.groupby(['busNumber', 'busRoute'])[['energyConsumption','drivenDistance']].sum()
overall['energy_ratio'] = round(overall['energyConsumption']/overall['drivenDistance'], 2)
overall

                    energyConsumption  drivenDistance  energy_ratio
busNumber busRoute
183       31             1.387782e+10      2279952.00       6086.89
          32             1.393320e+10      2256540.10       6174.59
          33             1.761996e+11     29510481.41       5970.75
          46             1.026237e+11     18224657.94       5631.04
          72             1.394368e+11     23637238.45       5899.03
          83             2.995540e+11     51249813.70       5844.98
          N1             4.217283e+09       705122.71       5980.92
          N2             7.929098e+09      1390618.35       5701.85
          N4             4.720068e+09       766868.89       6154.99
208       31             5.535865e+09      1046306.68       5290.86
          32             1.283340e+10      2337064.21       5491.25
          33             3.474842e+10      6161892.39       5639.24
          46             2.337366e+10      4186493.70       5583.11
          72             5.100382e+10      9427138.15       5410.32
          83             2.907837e+11     49965928.79       5819.64
          N1             2.316328e+09       410691.93       5640.06
          N2             7.913191e+09      1464008.67       5405.15
          N4             3.152512e+09       519599.97       6067.19

**10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.**

In [37]:
overallMin = overall.loc[overall.groupby('busRoute')['energy_ratio'].idxmin()]
overallMin.rename(columns={'energy_ratio': 'energyRatioMin', 'drivenDistance':'drivenDistanceMin', 'energyConsumption': 'energyConsumptionMin'}, inplace=True)
overallMin

                    energyConsumptionMin  drivenDistanceMin  energyRatioMin
busNumber busRoute
208       31                5.535865e+09         1046306.68         5290.86
          32                1.283340e+10         2337064.21         5491.25
          33                3.474842e+10         6161892.39         5639.24
          46                2.337366e+10         4186493.70         5583.11
          72                5.100382e+10         9427138.15         5410.32
          83                2.907837e+11        49965928.79         5819.64
          N1                2.316328e+09          410691.93         5640.06
          N2                7.913191e+09         1464008.67         5405.15
          N4                3.152512e+09          519599.97         6067.19

In [38]:
overallMax = overall.loc[overall.groupby('busRoute')['energy_ratio'].idxmax()]
overallMax.rename(columns={'energy_ratio': 'energyRatioMax', 'drivenDistance':'drivenDistanceMax', 'energyConsumption': 'energyConsumptionMax'}, inplace=True)
overallMax

                    energyConsumptionMax  drivenDistanceMax  energyRatioMax
busNumber busRoute
183       31                1.387782e+10         2279952.00         6086.89
          32                1.393320e+10         2256540.10         6174.59
          33                1.761996e+11        29510481.41         5970.75
          46                1.026237e+11        18224657.94         5631.04
          72                1.394368e+11        23637238.45         5899.03
          83                2.995540e+11        51249813.70         5844.98
          N1                4.217283e+09          705122.71         5980.92
          N2                7.929098e+09         1390618.35         5701.85
          N4                4.720068e+09          766868.89         6154.99

In [39]:
overallMin.reset_index(inplace=True)
overallMax.reset_index(inplace=True)
overallMinMax = pd.merge(overallMin, overallMax, on = 'busRoute')
overallMinMax.rename(columns={'busNumber_x': 'busNumberMin', 'busNumber_y':'busNumberMax', }, inplace=True)
overallMinMax['energyRatioDiff'] = overallMinMax['energyRatioMax'] - overallMinMax['energyRatioMin']
overallMinMax

,busNumberMin,busRoute,energyConsumptionMin,drivenDistanceMin,energyRatioMin,busNumberMax,energyConsumptionMax,drivenDistanceMax,energyRatioMax,energyRatioDiff
0,208,31,5.535865e+09,1046306.68,5290.86,183,1.387782e+10,2279952.00,6086.89,796.03
1,208,32,1.283340e+10,2337064.21,5491.25,183,1.393320e+10,2256540.10,6174.59,683.34
2,208,33,3.474842e+10,6161892.39,5639.24,183,1.761996e+11,29510481.41,5970.75,331.51
3,208,46,2.337366e+10,4186493.70,5583.11,183,1.026237e+11,18224657.94,5631.04,47.93
4,208,72,5.100382e+10,9427138.15,5410.32,183,1.394368e+11,23637238.45,5899.03,488.71
5,208,83,2.907837e+11,49965928.79,5819.64,183,2.995540e+11,51249813.70,5844.98,25.34
6,208,N1,2.316328e+09,410691.93,5640.06,183,4.217283e+09,705122.71,5980.92,340.86
7,208,N2,7.913191e+09,1464008.67,5405.15,183,7.929098e+09,1390618.35,5701.85,296.70
8,208,N4,3.152512e+09,519599.97,6067.19,183,4.720068e+09,766868.89,6154.99,87.80

**11. Find the bus maximizing the difference computed in the previous point.**

In [24]:
overallMinMax.loc[overallMinMax['energyRatioDiff'].idxmax()]

busNumberMin                      208
busRoute                           31
energyConsumptionMin     5535865000.0
drivenDistanceMin          1046306.68
energyRatioMin                5290.86
busNumberMax                      183
energyConsumptionMax    13877821100.0
drivenDistanceMax           2279952.0
energyRatioMax                6086.89
energyRatioDiff                796.03
Name: 0, dtype: object

**12. Extract the rows of the details such that the gnss_altitude differs from the value in the preceding row. Store also the difference in the variable altitude_variation.**

In [41]:
for dataframe in dataframes:
    dataframe['altitude_variation'] = dataframe['gnss_altitude'].diff().fillna(0)
df_altitude = pd.concat(dataframes)

df_final = df_altitude[df_altitude['altitude_variation'] != 0]
df_final

,time_iso,time_unix,gnss_altitude,gnss_latitude,gnss_longitude,itcs_numberOfPassengers,itcs_stopName,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,name,altitude_variation
148,2019-04-30T03:21:24Z,1556594484,397.8299,0.827001,0.148487,NaN,NaN,0.0,0.0,292.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,0.0299
149,2019-04-30T03:21:25Z,1556594485,400.3140,0.827002,0.148485,NaN,NaN,0.0,0.0,292.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,2.4841
150,2019-04-30T03:21:26Z,1556594486,401.6892,0.827000,0.148484,NaN,NaN,0.0,0.0,292.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,1.3752
151,2019-04-30T03:21:27Z,1556594487,400.4860,0.826998,0.148484,NaN,NaN,0.0,0.0,292.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,-1.2032
152,2019-04-30T03:21:28Z,1556594488,399.1192,0.826999,0.148485,NaN,NaN,0.0,0.0,292.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,-1.3668
...,...,...,...,...,...,...,...,...,...,...,...,...
14029,2022-12-11T03:28:35Z,1670729315,416.9913,0.826996,0.148458,NaN,NaN,1.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,0.1718
14030,2022-12-11T03:28:36Z,1670729316,417.1912,0.826997,0.148458,NaN,NaN,1.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,0.1999
14031,2022-12-11T03:28:37Z,1670729317,416.0540,0.826997,0.148459,NaN,NaN,1.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,-1.1372
14055,2022-12-11T03:29:01Z,1670729341,410.1916,0.826985,0.148488,NaN,NaN,0.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,0.0888
14056,2022-12-11T03:29:02Z,1670729342,410.8726,0.826984,0.148493,NaN,NaN,0.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,0.6810

**13. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of altitude_variation.**

In [42]:
df_altitude['altitude_variation_abs'] = df_altitude['altitude_variation'].abs()
df_altitude.groupby('name')['altitude_variation_abs'].sum()

name
B183_2019-04-30_03-18-56_2019-04-30_08-44-20      184.7389
B183_2019-04-30_13-22-07_2019-04-30_17-54-02     3896.8300
B183_2019-05-01_05-58-51_2019-05-01_22-32-30      637.4071
B183_2019-05-03_02-50-21_2019-05-03_05-53-20     4074.4802
B183_2019-05-03_15-41-57_2019-05-03_23-06-24    13325.9491
                                                   ...
B208_2022-12-06_14-43-49_2022-12-06_18-22-52     2300.3956
B208_2022-12-07_05-13-02_2022-12-07_19-19-53     8617.6752
B208_2022-12-08_05-22-20_2022-12-08_18-39-15     8022.7330
B208_2022-12-09_23-55-12_2022-12-10_03-24-28     2748.4226
B208_2022-12-10_23-34-46_2022-12-11_03-29-05     3247.2228
Name: altitude_variation_abs, Length: 1409, dtype: float64

**14. For each month of the year, compute the average ambient temperature**

In [43]:
details['time_iso'] = pd.to_datetime(details['time_iso'])
details.groupby(details['time_iso'].dt.month)['temperature_ambient'].mean()

time_iso
1     278.801440
2     281.205427
3     283.231337
4     287.037925
5     290.178378
6     296.771650
7     297.716663
8     296.327105
9     292.442343
10    287.894845
11    281.904302
12    279.562856
Name: temperature_ambient, dtype: float64

**15. For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.**

In [51]:
details['time_unix_next'] = details.groupby('name')['time_unix'].shift(-1)
details['duration'] = details['time_unix_next'] - details['time_unix']

In [58]:
halt = details[details['status_haltBrakeIsActive'] == 1]
halt = halt.rename(columns={'duration': 'halt_duration'})
park = details[details['status_parkBrakeIsActive'] == 1]
park = park.rename(columns={'duration': 'park_duration'})
park

,time_iso,time_unix,gnss_altitude,gnss_latitude,gnss_longitude,itcs_numberOfPassengers,itcs_stopName,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,name,busNumber,time_unix_next,park_duration
2205,2019-04-30 03:55:41+00:00,1556596541,NaN,NaN,NaN,NaN,NaN,0.0,1.0,281.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1.556597e+09,1.0
2206,2019-04-30 03:55:42+00:00,1556596542,NaN,NaN,NaN,NaN,NaN,0.0,1.0,281.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1.556597e+09,1.0
2207,2019-04-30 03:55:43+00:00,1556596543,NaN,NaN,NaN,NaN,NaN,0.0,1.0,281.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1.556597e+09,1.0
2208,2019-04-30 03:55:44+00:00,1556596544,NaN,NaN,NaN,NaN,NaN,0.0,1.0,281.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1.556597e+09,1.0
2209,2019-04-30 03:55:45+00:00,1556596545,NaN,NaN,NaN,NaN,NaN,0.0,1.0,281.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1.556597e+09,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14054,2022-12-11 03:29:00+00:00,1670729340,410.1028,0.826986,0.148482,NaN,NaN,0.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,1.670729e+09,1.0
14055,2022-12-11 03:29:01+00:00,1670729341,410.1916,0.826985,0.148488,NaN,NaN,0.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,1.670729e+09,1.0
14056,2022-12-11 03:29:02+00:00,1670729342,410.8726,0.826984,0.148493,NaN,NaN,0.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,1.670729e+09,1.0
14057,2022-12-11 03:29:03+00:00,1670729343,NaN,NaN,NaN,NaN,NaN,0.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,1.670729e+09,1.0
14058,2022-12-11 03:29:04+00:00,1670729344,NaN,NaN,NaN,NaN,NaN,0.0,1.0,278.15,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,1.670729e+09,1.0

In [59]:
halt_grouped = halt.groupby(['busNumber', 'status_haltBrakeIsActive'])['halt_duration'].sum().reset_index()
park_grouped = park.groupby(['busNumber', 'status_parkBrakeIsActive'])['park_duration'].sum().reset_index()

halt_park_grouped = pd.merge(halt_grouped, park_grouped, on = 'busNumber')
halt_park_grouped['halt_park_ratio'] = round(halt_park_grouped['halt_duration']/halt_park_grouped['park_duration'],2)
halt_park_grouped

,busNumber,status_haltBrakeIsActive,halt_duration,status_parkBrakeIsActive,park_duration,halt_park_ratio
0,183,1.0,7837487.0,1.0,3183824.0,2.46
1,208,1.0,5942104.0,1.0,1828194.0,3.25

**16. For each pair of stops that are consecutive in some trip, compute the average speed achieved when going from the first to the second stop.**

In [60]:
import math

df_speed = details.dropna(subset=['itcs_stopName', 'gnss_latitude', 'gnss_longitude']).copy()
df_speed['next_gnss_latitude'] = df_speed.groupby('name')['gnss_latitude'].shift(-1)
df_speed['next_gnss_longitude'] = df_speed.groupby('name')['gnss_longitude'].shift(-1)

In [61]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371000  # Raggio della Terra in metri
    
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c
    return distance


df_speed['distance_next_stop'] = df_speed.apply(lambda row: haversine(row['gnss_latitude'], row['gnss_longitude'], 
                                                                      row['next_gnss_latitude'], row['next_gnss_longitude']), axis=1)

df_speed.head()

,time_iso,time_unix,gnss_altitude,gnss_latitude,gnss_longitude,itcs_numberOfPassengers,itcs_stopName,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,name,busNumber,time_unix_next,duration,next_gnss_latitude,next_gnss_longitude,distance_next_stop
246,2019-04-30 03:23:02+00:00,1556594582,423.9126,0.827037,0.148511,1.0,"Zürich, Herdernstrasse",0.0,0.0,291.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1.556595e+09,1.0,NaN,NaN,NaN
2915,2019-04-30 14:10:42+00:00,1556633442,659.3000,0.826508,0.150113,14.0,"Zürich, Kienastenwies",0.0,0.0,287.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,1.556633e+09,1.0,0.826539,0.150067,279.449745
2967,2019-04-30 14:11:34+00:00,1556633494,602.9036,0.826539,0.150067,17.0,"Zürich, Zweiackerstrasse",0.0,0.0,286.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,1.556633e+09,1.0,0.826573,0.150013,317.034144
3023,2019-04-30 14:12:30+00:00,1556633550,603.1929,0.826573,0.150013,22.0,"Zürich, Loorenstrasse",0.0,0.0,286.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,1.556634e+09,1.0,0.826567,0.149922,395.206789
3193,2019-04-30 14:15:20+00:00,1556633720,627.8985,0.826567,0.149922,26.0,"Zürich, Berghaldenstrasse",0.0,0.0,286.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,1.556634e+09,1.0,0.826560,0.149857,287.262886

In [63]:
df_speed['time_unix_next'] = df_speed['time_unix'].shift(-1)
df_speed['itcs_next_stopName'] = df_speed['itcs_stopName'].shift(-1)
df_speed['duration'] = df_speed['time_unix_next'] - df_speed['time_unix']
df_speed['speed_next_stop'] = df_speed['distance_next_stop']/ df_speed['duration']*3.6 # in km/h
average_speed = df_speed.groupby(['itcs_stopName','itcs_next_stopName'])['speed_next_stop'].mean().dropna()
average_speed

itcs_stopName                   itcs_next_stopName
Zürich, Albisrank               Zürich, Altes Krematorium         21.127327
                                Zürich, Bahnhof Altstetten         8.833611
                                Zürich, Flurstrasse               13.842610
                                Zürich, Hubertus                  15.476714
                                Zürich, Kappeli                   14.316704
                                                                    ...
Zürich, Zwinglihaus             Zürich, Hertersteg                11.236707
                                Zürich, Schmiede Wiedikon         10.786934
                                Zürich,Kalkbreite/Bhf.Wiedikon    14.306302
Zürich,Kalkbreite/Bhf.Wiedikon  Zürich, Kernstrasse               13.250340
                                Zürich, Zwinglihaus               15.959294
Name: speed_next_stop, Length: 730, dtype: float64